html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
  
}

#top h1 {
  font-size: 2em;
}

#content {
  /* width:95%; */
  height: 100%;
  border-radius: 25px;
  /* border-width: 10%; */
  border-color:silver;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 100px;
  font-size: 2em;
  text-align: center;
  background-color: rgb(210,177,114);  /*background-image: url(../client/cork.jpg);*/
}

#content p {
  background-color: yellow;
  color: black;
  width: 10%;
  font-size: 1em;
  margin: 1em;
  padding: 1em;
  text-align: left;
  overflow-wrap: break-word;
  overflow: none;
  font-family: "Poor Richard Regular";
  border-style: solid;
}