html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
  font-family: 'Bowlby One SC', cursive;
  background-color: #4357AD;
  color: white;
  border-radius: 25px;
  margin-right: 5%;
  margin-left: 5%;
  border-color: black;
  border-width: 5px;
  padding-bottom: 10px;
  box-shadow: 10px 7px 5px black;
}


#top h1 {
  font-size: 2em;
  font-style: italic;
}


#content {
  /* width:95%; */
  height: 100%;
  border-radius: 25px;
  /* border-width: 10%; */
  font-family: 'Bowlby One SC', cursive;
  border-color:silver;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-bottom: 10px;
  padding-top: 2em;
  padding-bottom: 5px;
  font-size: 2em;
  text-align: center;
  background-color: rgb(210,177,114);  /*background-image: url(../client/cork.jpg);*/
  box-shadow: 10px 10px 5px black;
  overflow-wrap: break-word;
  overflow: auto;
}

#content b{
  text-align: center;
  margin: 1em auto;
  color: white;
}

#content p {
  /* display: inline; */
  /* float: left; */
  white-space: pre-line;
  background-color: yellow;
  color: black;
  width: 35%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 1em;
  text-align: left;
  overflow-wrap: break-word;
  overflow: none;
  font-family: 'Mansalva', cursive;
  border-style: solid;
  box-shadow: 10px 10px 5px grey;
}